/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Oxygen&family=Raleway:wght@500&display=swap");

/*.................. Common Styles & Stuffs start................ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Oxygen", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "candara", sans-serif;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 0.6rem;
}
:root {
  --primary-color: #1b98f5;
}
/*.................. Common Styles & Stuffs end................ */

/*..................... Nav start................... */
nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.navigations {
  display: flex;
}
.navigations li {
  list-style: none;
  margin-left: 30px;
  font-size: 20px;
}
.navigations li > a {
  text-decoration: none;
  font-weight: 600;
  color: var(--primary-color);
}
/*..................... Nav end................... */

/*................... Banner start.................. */
#banner {
  display: flex;
}
.banner-left {
  display: flex;
  flex: 3;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.banner-left h1 {
  font-size: 50px;
  width: 70%;
}
.banner-left p {
  font-size: 20px;
  margin: 10px 0;
  width: 70%;
}
.banner-right {
  flex: 2;
  background-image: url("../images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.banner-right img {
  width: 80%;
}
.primary-button {
  outline: 0;
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
  padding: 10px 20px;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  position: relative;
  z-index: 1;
}
.primary-button:hover {
  color: #fff;
}
.primary-button,
.primary-button::before {
  transition: 0.5s ease;
}
.primary-button::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 0;
  height: 100%;
  border-radius: 50px;
  background: var(--primary-color);
  opacity: 0;
  z-index: -1;
}
.primary-button:hover::before {
  width: 100%;
  opacity: 1;
}
/*................... Banner end.................. */

/*................... Products start ...................*/
.section-title {
  margin: 50px 0;
  font-size: 25px;
  text-align: center;
}
.products {
  display: grid;
  width: 80%;
  margin: 0 auto;
  grid-column-gap: 10px;
  grid-row-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  justify-content: center;
}
.product {
  width: 290px;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.product-thumbnail img {
  width: 100%;
}
.product-rating {
  display: inline-block;
  margin: 10px 0;
  color: var(--primary-color);
}
.product small {
  font-size: 18px;
  margin-left: 10px;
}
#seeMore-btn {
  text-align: right;
  margin-right: 80px;
  margin-top: 20px;
}
#seeMore-btn a {
  font-weight: 900;
  text-decoration: none;
  color: var(--primary-color);
}
/*................... Products End ...................*/

/*...................... Contact start................... */
#contact {
  text-align: justify;
  margin: 100px 0;
}
#contact h1 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 35px;
}
.contact-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.contact-left img {
  width: 80%;
}
.contact-right form {
  display: flex;
  flex-direction: column;
}
.contact-right form input {
  outline: 0;
  border: 1px solid lightgray;
  padding: 20px 10px;
  margin: 15px;
  border-radius: 10px;
  font-size: 16px;
}
.contact-right form input:focus {
  border: 1px solid var(--primary-color);
}
#contact p {
  color: gray;
  font-size: 1.1rem;
  font-family: "Oxygen", sans-serif;
}
/*...................... Contact end................... */

/*..................... Footer start................... */
footer {
  display: flex;
  flex-direction: column;
  height: 200px;
  background-color: #0a0826;
  color: #fff;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
footer a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 18px;
  margin-left: 10px;
}
/*..................... Footer end................... */
